.panel
{
	text-align: left;
	
}

.centered
{
	text-align: center;
}

#landing-jumbotron
{


	opacity: 0.99;
	
background-size: 100%;
background: transparent;
}

#transfers-jumbo{
	background: #3366CC;

	opacity: 0.8;
}
#register-jumbotron
{


	opacity: 0.8;
			background-image: url("backgrounds/land.jpg");
background-size: 100%;
background:#003366;
}
#hurling-banner
{

	width: 99%;

	

}

label
{
	color: black;
}

#home-container
{

			text-align: left;
	
		

}

#welcome-info-container
{

			text-align: left;
	
		background: white;
	
}


.addPadding
{
	

    
}



#team-view-jumbo
{
			background: #660066;
			text-align: center;
			width: 100%;
		

}

#canvas-holder{

height:60%
width:60%;
}
#myTeamView
{


background: white;
}

h3
{
	color: white;
	font-size: 15px;
}

#player2-points
{
	color: black;
}
body
{

cursor: pointer;
background: #F0F0F0  ;


}

.fancy-text-black
{
	color: black;
	font-family: cursive;

}

.home-jumbotron
{
		background: #F5F5F0;

		width: 100%;
		opacity: 0.8;
}

#home-jumbotron-header
{
	color: black;
	font-family: cursive;
	font-size: 26px;



}

h5
{
  font: 400 35px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;

}

.white-heading-fancy
{
	  font: 400 35px/1.2 'Merienda One', Helvetica, sans-serif;
  color: white;

}

.white-heading-fancy-small
{
	  font: 400 18px/1.2 'Merienda One', Helvetica, sans-serif;
  color: white;

}

.white-heading-fancy-smallest
{
	  font: 400 14px/1.2 'Merienda One', Helvetica, sans-serif;
  color: white;

}


.black-heading-fancy
{
	  font: 400 35px/1.2 'Merienda One', Helvetica, sans-serif;
  color: black;

}

.black-heading-fancy-small
{
	  font: 400 18px/1.2 'Merienda One', Helvetica, sans-serif;
  color: black;

}

.black-heading-fancy-smallest
{
	  font: 400 14px/1.2 'Merienda One', Helvetica, sans-serif;
  color: black;

}


.white
{
	color: white;
	font-size: 14px;
		font-family: cursive;
}
.black
{
	color: black;
	font-size: 14px;
		font-family: cursive;
    text-align:justify; 
}


#standings-jumbotron
{
		background-image: url("backgrounds/d.jpg");
	
		width: 100%;
			opacity: 0.8;
}

.center-align
{
	text-align: center;
}

#username, #password , #email
{
	font-style: italic;
	color: #003366;
}

#my-team-panel
{
		text-align: center;
	

    background-image: url("backgrounds/gaa.png");
    background-size: 100%;

    height:100%;
}


#Goalkeeper,#Full-Back,#Half-Back,#Corner-Back ,#Midfielder, #Corner-Forward, #Half-Forward, #Full-Forward{
	z-index: 100;
    color: white;
}

.player-droppable-image
{
	width: 40px;
	height: 40px;
}



 #player-transfer-in-area
{
	text-align: center;
	font-size: 14px;

}

#player-transfer-droppable-area
{
		text-align: center;
	font-size: 14px;

}

.panel-top

{
	width: 100%;
	height: 90%;
	font-size:20px;
	text-align: center;
background: white;
	 font-style: italic; 
color:black;
}

.white-background
{
	background: white;
}

#confirm-transfers-button,#cancel-transfers-button,#confirm-buy-button,#post_new_user_button
{

width: 100%;
}

.background-white
{
	background: white;
	color:black;
}
.purple{


background: purple;
}

.blue{

background: #00CCFF;
}

.green{

background: #339966;

}

.gray{

background:#efefef;
}

.black{

color:black;
}

h1
{
font-size: 25px;
color: black;

}



#social-media-container
{
	text-align: center;
}

#user-profile-well
{
	background: #800000;
	opacity: 0.7;	
}

.snazzy-blue
{
	background: #3366CC;
	color: white;
	opacity: 0.7;
}

.table th
{
		background: white;
		color:black;
			opacity: 0.7;

}

.table td
{
	text-align: left;
}


.ui-dialog-titlebar {
   	background: #3366CC;
   	opacity: 0.7;
   	color: white;
}
.ui-dialog
{
	background: white;
}

#other-user-info
{
	text-align: center;
}

#team-name-holder,#team-points-holder,#team-week-points-holder
{
	vertical-align: middle;
	font-size: 20px;
	font-family: cursive;

}

#droppable-container
{
	opacity: 0.8;

}

#get_user_by_username_button, #register-button
{
	width: 100%;
		background: #3366CC;border: 2px solid #3366CC;
}

 #post_new_user_button
 {
 	background: #3366CC;border: 2px solid #3366CC;
 }

 #my-team-table
 {
 	background: white;
 }

#register-form
{
		width: 100%;
		
}



#side-bar
{
	

opacity: 0.8;
     
 
}
#side-options
{
	
    background: white;
background: #3366CC  ;
  
 
}


.padded
{
  
}
.main-content
{

    background: white;
    opacity: 0.9;

}

#standings, #transfers, #home, #user_profile,#my_team
{

color: white;

}

.side-links
{

}

#standings:hover, #transfers:hover, #home:hover, #user_profile:hover,#my_team:hover
{

background: #85A3E0;

}

#canvas-holder
{
text-align: center;


}

#canvas-radar
{
width: 100%;
height: 100%;

}
.full-width{

height: 100%;
height:100%;
}

	#canvas-holder2{
				text-align: center;
		
			}
			
			#chart-area,#chart-area2{
					text-align: center;
			height:80%;
			width:80%;
			}
			
					#chart-area2{
					text-align: center;
			height:80%;
			width:80%;
			}

			hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.3em 0;
    padding: 0; 
}

#post-new-message
{
	width: 100%;
}


footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}
