* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin-top: 40px;
	margin-bottom: 40px;
	//background-color: white;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	//background-color: beige;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  //background-color: bisque;
}

section {
  position: relative;
}

article {
  /* position is static by default */
  display: inline;
  float: right;
  margin-top: 40px;
  width: 50%;
  //background-color: peachpuff;
}

table {
	border-collapse: collapse;
	//background-color: linen;
}

form {
	//background-color: lavender;
}

th {
	background-color: palegreen;
}

table, th, td {
	border: 1px solid black;
}

label {
	display: block;
}

header, footer {
  text-align: center;
}