* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin-top: 40px;
	margin-bottom: 40px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
}

section {
  position: relative;
}

article {
  /* position is static by default */
  display: inline;
  float: right;
  margin-top: 40px;
}

#table_article {
  width: 75%;
}

#forms_article {
  width: 25%;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

label {
	display: block;
}

header, footer, h1, h2 {
  text-align: center;
}

span {
  color : red;
}

ul li {
  display : inline;
}