html {
	
	font-size: 10pt;

}



label {
	display: block;
	color: #999;
}
.cf:before,
.cf:after {
    content: ""; 
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
	outline: 0;
}
#register_button{text-decoration:none; text-align:center; 
 padding:11px 32px; 
 border:solid 3px #ffffff; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:13px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#34942b; 
 background-image: -moz-linear-gradient(top, #34942b 0%, #1b730f 100%); 
 background-image: -webkit-linear-gradient(top, #34942b 0%, #1b730f 100%); 
 background-image: -o-linear-gradient(top, #34942b 0%, #1b730f 100%); 
 background-image: -ms-linear-gradient(top, #34942b 0% ,#1b730f 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b730f', endColorstr='#1b730f',GradientType=0 ); 
 background-image: linear-gradient(top, #34942b 0% ,#1b730f 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }#register_button:hover{
 padding:11px 32px; 
 border:solid 3px #ffffff; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:13px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#36d428; 
 background-image: -moz-linear-gradient(top, #36d428 0%, #1b730f 100%); 
 background-image: -webkit-linear-gradient(top, #36d428 0%, #1b730f 100%); 
 background-image: -o-linear-gradient(top, #36d428 0%, #1b730f 100%); 
 background-image: -ms-linear-gradient(top, #36d428 0% ,#1b730f 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b730f', endColorstr='#1b730f',GradientType=0 ); 
 background-image: linear-gradient(top, #36d428 0% ,#1b730f 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }
 #register_button:active{
 padding:11px 32px; 
 border:solid 3px #ffffff; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:13px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#34942b; 
 background-image: -moz-linear-gradient(top, #34942b 0%, #1b730f 100%); 
 background-image: -webkit-linear-gradient(top, #34942b 0%, #1b730f 100%); 
 background-image: -o-linear-gradient(top, #34942b 0%, #1b730f 100%); 
 background-image: -ms-linear-gradient(top, #34942b 0% ,#1b730f 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b730f', endColorstr='#1b730f',GradientType=0 ); 
 background-image: linear-gradient(top, #34942b 0% ,#1b730f 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }
 
 
 

#get_user_by_username_button{text-decoration:none; text-align:center; 
 padding:11px 32px; 
 border:solid 3px #ffffff; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:13px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
  
 background-color:#34942b; 
 background-image: -moz-linear-gradient(top, #34942b 0%, #1b730f 100%); 
 background-image: -webkit-linear-gradient(top, #34942b 0%, #1b730f 100%); 
 background-image: -o-linear-gradient(top, #34942b 0%, #1b730f 100%); 
 background-image: -ms-linear-gradient(top, #34942b 0% ,#1b730f 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b730f', endColorstr='#1b730f',GradientType=0 ); 
 background-image: linear-gradient(top, #34942b 0% ,#1b730f 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }#get_user_by_username_button:hover{
 padding:11px 32px; 
 border:solid 3px #ffffff; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:13px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#36d428; 
 background-image: -moz-linear-gradient(top, #36d428 0%, #1b730f 100%); 
 background-image: -webkit-linear-gradient(top, #36d428 0%, #1b730f 100%); 
 background-image: -o-linear-gradient(top, #36d428 0%, #1b730f 100%); 
 background-image: -ms-linear-gradient(top, #36d428 0% ,#1b730f 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b730f', endColorstr='#1b730f',GradientType=0 ); 
 background-image: linear-gradient(top, #36d428 0% ,#1b730f 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }
 #get_user_by_username_button:active{
 padding:11px 32px; 
 border:solid 3px #ffffff; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:13px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#34942b; 
 background-image: -moz-linear-gradient(top, #34942b 0%, #1b730f 100%); 
 background-image: -webkit-linear-gradient(top, #34942b 0%, #1b730f 100%); 
 background-image: -o-linear-gradient(top, #34942b 0%, #1b730f 100%); 
 background-image: -ms-linear-gradient(top, #34942b 0% ,#1b730f 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b730f', endColorstr='#1b730f',GradientType=0 ); 
 background-image: linear-gradient(top, #34942b 0% ,#1b730f 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }